body {
    background: #fff url("../images/DD-Grunge-Background-77780-Preview.jpg") ;
    color:#fff; */
}

a:hover {
    text-decoration: none;
}
.page-header {
    height: 79px;
    background:#333;
    margin-bottom: 10px;
}

div.col-sm {
    /* border: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px; */
}

h1, h2, h3, h4, h5 {
    font-family: 'EB Garamond', serif;
    text-align: center;
}

h1 {
    font-size: 2.8em;
    padding: 12px 0;
}

h1 a, h1 a:visited {
    color:#fff;
}

p {
    font-family: 'Forum', cursive;
    font-size: 1.4em;
}

.intro {
    text-align: center;
    padding: 0;
}

button.answer-button {
    width: 100%;
    text-align: left;
    padding: 8px 18px;
    margin: 0 0 15px 0;
}

button.answer-button:hover {
    
}

.col-sm {
    text-align: center;
}

#display {
    height: 24px;
}

.progress {
    border: 1px solid #c6b8a9;
    margin: 0 auto 15px;
    background: none;
}

button {
    font-family: 'Forum', cursive;
    font-size: 1.2em;
    padding: 4px 30px;
}

.intro p {
    width: 80%;
    margin: 0 auto;
}

#grad {
    background-image: linear-gradient(to bottom right, red, yellow);
  }

.progress-bar {
    background:none;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

  #question {
      color:#333;
  }

  .gold {
    height: 10px;
    margin: 0 auto;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

#start {
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
}

.footer {
    width: 80%;
    margin: 10px auto 0;
    text-align: center;
}

.changer {
    border-radius: 8px;
    margin: 5px 6px;
    padding: 20px;
    color: #22170c;
    border: 1px solid #f2ece1;
    font-size: 1.1em;
    border-radius: 10px;

}

.changer p {
    font-size: .8em;
    margin-bottom: 10px;
}

.container {
    width: 80%;
}

.wrapper {
    margin-top: 5px;
    /* padding: 14px 30px 24px; */
    color: #22170c;
    background: #e6ded0;
    border: 1px solid #f2ece1;
    box-shadow: 3px 3px #c7b9aa;
    font-size: 1.4em; 
    border-radius: 10px;
}

button {
    background: linear-gradient(to bottom right, #217e8e, #0c5460);
    color: #fff;    
}

.next {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.selectedAnswer {
    background:#0c5460;
    border: 1px solid #fff;
    color:#fff;
}

.main {
    margin-top: 10px;
    padding: 20px 60px;
}

#answers {
}

.card img {
    width: 100%;
}

.intro-row img {
    height: 364px;
}

.fact {
    padding: 10px;
    background: none;
    font-size: .7em;
}

.card {
    background: none;
}

.incorrect {
    text-decoration: line-through;
    background: #666;
}

.correct {
    background: linear-gradient(to bottom right, #77ad42, #13680d);  
    text-decoration: none;
}

button {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 36px;
    font-size: 1.1em;
}

.hide-element {
    display: none;
}

.show-element {
    display: block;
}

text-decoration: line-through;



